{% extends 'base.html' %}
{% block title %}
    Search Text in Tweets
{% endblock title %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                },
                "order": [[2, "desc"]]
            });
        });
    </script>
{% endblock javascript %}
{% block content %}
    {% if errorcode == 0 %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
    {% if errorcode == -1 %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
    {% if errorcode == 1 %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <form id="searchform" action="/search/get_queryset/" method="get" accept-charset="utf-8">
        <button class="btn" type="submit">
            <i class="fa fa-search"></i>
        </button>
        <input id="searchbox" name="q" type="text" placeholder="Search in Tweets">
        <label>Idioma:</label>
{#    {{ languages }}#}
        <select name="languageCode">
             {% for language in languages %}
{#                 HOLA {{ language }}#}
                 <option value="{{ language.code }}">{{ language.name}} : {{ language.nativeName }}</option>
            {% endfor %}
        </select>
    </form>

    {#    <blockquote class="twitter-tweet"><p lang="es" dir="ltr">🌧🌱⚽️ <a href="https://twitter.com/hashtag/RMCity?src=hash">#RMCity</a><br>En 15 minutos, volvemos a los entrenamientos y comenzamos a preparar el partido contra el <a href="https://twitter.com/BVB">@BVB</a>. <a href="https://twitter.com/hashtag/HalaMadrid?src=hash">#HalaMadrid</a> <a href="https://t.co/9EQ351WoG8">pic.twitter.com/9EQ351WoG8</a></p>&mdash; Real Madrid C. F. (@realmadrid) <a href="https://twitter.com/realmadrid/status/805709551337086980">December 5, 2016</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>#}

    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>User <i class="fa fa-user" aria-hidden="true"></i></th>
            <th>Tweet <i class="fa fa-twitter" aria-hidden="true"></i></th>
            <th>Fecha/Hora <i class="fa fa-clock-o" aria-hidden="true"></i></th>
            <th>Retweets <i class="fa fa-retweet" aria-hidden="true"></i></th>
            <th>Me Gusta <i class="fa fa-heart" aria-hidden="true"></i></th>
            {#        <th>Lugar <i class="fa fa-map-marker" aria-hidden="true"></i></th>#}
            {#        <th>País <i class="fa fa-globe" aria-hidden="true"></i></th>#}
            {#        <th>Coordenadas <i class="fa fa-location-arrow" aria-hidden="true"></i></th>#}
        </tr>
        </thead>
        <tbody>
        {% for resultado in result_with_text %}
            <tr>
                <td>{{ resultado.user.name }}</td>
                <td>{{ resultado.text }}</td>
                <td>{{ resultado.created_at }}</td>
                <td>{{ resultado.retweet_count }}</td>
                <td>{{ resultado.favorite_count }}</td>
                {#            <td>{{ resultado.place.full_name }}</td>#}
                {#            <td>{{ resultado.place.country }}</td>#}
                {#            <td>{{ resultado.place.bounding_box.coordinates }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}