{% extends 'base.html' %}
{% block title %}
    Tweet Info by URL
{% endblock title %}
{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                },
                "order": [[2, "desc"]]
            });
            {#            $('#helpurl').style.display = 'none';#}
            $('tweetcontainer').innerHTML = "HOLA";
        });

    </script>

    <script type="text/javascript">
        function showhelp() {
            if (helpurl.style.display == 'none') {
                helpurl.style.display = 'block';
                showhelplabel.innerHTML = "Ya se como obtener la URL";
            } else {
                helpurl.style.display = 'none';
                showhelplabel.innerHTML = "Como obtener la URL de un Tweet";
            }
        }
    </script>

    <script type="text/javascript">
        function seetweet() {
            if (tweetcontainer.style.display == 'none') {
                tweetcontainer.style.display = 'block';
                eyebutton.className = "fa fa-eye-slash";
                showtweetlabel.innerHTML = "Ocultar Tweet Original";
            } else {
                tweetcontainer.style.display = 'none';
                eyebutton.className = "fa fa-eye";
                showtweetlabel.innerHTML = "Ver el Tweet Original";
            }
        }
    </script>
{% endblock javascript %}
{% block content %}
    {% if errorcode == 0 %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endif %}
    {% if errorcode == -1 %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endif %}
    {% if errorcode == 1 %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
    <div style="margin-bottom: 10px">
        <form id="searchform" action="/searchurl/get_queryset/" method="get" accept-charset="utf-8">
            <button class="btn" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <input id="searchbox" name="q" type="text" placeholder="Buscar Tweet por URL"
                   size="100%">

        </form>

    </div>
    <button class="btn" type=button onclick="showhelp()">
        <i class="fa fa-question"></i>
        <a id="showhelplabel">Como obtener la URL de un Tweet</a>
    </button>
    {% if errorcode == 0 %}
        <button class="btn" type=button onclick="seetweet()">
            <i id="eyebutton" class="fa fa-eye"></i>
            <a id="showtweetlabel">Ver el Tweet Original</a>
        </button>
    {% endif %}
    <div id="helpurl" style="display:none">
        <h3>Esto es un ejemplo de como obtener la URL de un tweet.</h3>
        {% load static %}
        <img src="{% static "searchByUrl/tweetURLANo.png" %}" alt="Un ejemplo de URL"/>
    </div>
    <div id="tweetcontainer" style="display:none">
        {{ jsonhtml|safe }}
    </div>
    <h2>Información</h2>

    <table class="table table-striped" style="width:100%" border="2px">
        <tr>
            <th>User:</th>
            <td>{{ result_with_text.user.name }}</td>
        </tr>
        <tr>
            <th>Text:</th>
            <td>{{ result_with_text.text }}</td>
        </tr>
        <tr>
            <th>Retweet:</th>
            <td>{{ result_with_text.retweet_count }}</td>
        </tr>
        <tr>
            <th>Me gusta:</th>
            <td>{{ result_with_text.favorite_count }}</td>
            {#            <td>{{ result_with_text.place }}</td>#}
        </tr>
        <tr>
            <th>Lugar:</th>
            <td>{{ result_with_text.place.full_name }}</td>
        </tr>
        <tr>
            <th>País:</th>
            <td>{{ result_with_text.place.country }}</td>
        </tr>
        <tr>
            <th>Coordenadas:</th>
            <td>{{ result_with_text.place.bounding_box.coordinates }}</td>
        </tr>
    </table>
{% endblock content %}