{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock %}
{% block css %}{% endblock css %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            refreshtt();
        });
        function refreshtt() {
            $.ajax({
                contentType: 'application/json',
                url: 'trending',
                type: 'get', // This is the default though, you don't actually need to always mention it
                data: {
                    "q": $( "#idwoeidCode" ).val()
                },
                success: function (data) {
                    $("#ttbodyRow1").empty();
                    $("#ttbodyRow2").empty();
                    $("#lastRefresh").empty();
                    var trHTML = '<tr>';
                    var trHTML2 = '<tr>';
                    var cont=1;
                    $.each(data,function (i,obj) {
                        if(cont<5) {
                            trHTML += '<td>' + obj.name + '</td>';
                            cont++;
                        }else if(cont==5){
                            trHTML += '<td>' + obj.name + '</td>';
                            trHTML+='</tr>';
                            $('#ttbodyRow1').append(trHTML);
                            cont++;
                        }else if(cont>5&&cont<=9){
                            trHTML2 += '<td>' + obj.name + '</td>';
                            cont++;
                        }else if(cont==10){
                            trHTML2 += '<td>' + obj.name + '</td>';
                            trHTML2+='</tr>';
                            $('#ttbodyRow2').append(trHTML2);
                            cont++;
                        }
                    });
                    $("#lastRefresh").append("Actualizado a: "+Date());
                },
                failure: function (data) {
                    alert('Got an error dude');
                }
            });
        }
    </script>
{% endblock %}

{% block content %}
    {% if errorcode == 'danger' %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% elif errorcode == 'warning' %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% elif errorcode == 'success' %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <div class="container" style="padding-left: 0px">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="glyphicon glyphicon-bookmark"></span>  Inicio</h2>
                </div>
                <div class="panel-body">
                    <a href="{% url 'home' %}" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-home"></span>  Inicio</a>
                    <br>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="col-xs-3 col-md-3">
                                <a id="toSearch" href="{% url 'search' %}" class="btn btn-danger btn-lg btn-block" role="button"><span class="glyphicon glyphicon-search"></span><br/>Buscar<br/>Texto</a>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <a id="toInfo" href="{% url 'searchurl' %}" class="btn btn-warning btn-lg btn-block" role="button"><span class="glyphicon glyphicon-info-sign"></span><br/>Información<br/>Tweet</a>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <a id="toLocation" href="{% url 'location' %}" class="btn btn-primary btn-lg btn-block" role="button"><span class="glyphicon glyphicon-map-marker"></span><br/>Localización<br/>Tweet</a>
                            </div>
                            <div class="col-xs-3 col-md-3">
                                <a id="toUser" href="{% url 'searchuser' %}" class="btn btn-success btn-lg btn-block" role="button"><span class="glyphicon glyphicon-user"></span><br/>Información<br/>Usuario</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <h3>#TrendingTopics</h3>
    <div>
        Selecciona un país:
        <select onchange="refreshtt()" id="idwoeidCode" name="woeidCode">
        {% for awoeid in woeidlist %}
            <option value="{{ awoeid.woeid }}">{{ awoeid.name }}</option>
        {% endfor %}
    </select>
        <button onclick="refreshtt()"><i class="fa fa-refresh" aria-hidden="true"></i></button>
        <p id="lastRefresh"></p>
    <table class="table table-striped" id="tt" style="width:100%;table-layout: fixed;word-wrap:break-word;">
        <thead class="thead-inverse"><tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
        </tr>
        </thead>
        <tbody id="ttbodyRow1">
        </tbody>
        <thead class="thead-inverse">
        <tr>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
        </tr>
        </thead>
        <tbody id="ttbodyRow2">
        </tbody>
    </table>
    </div>

{#    <form class="form-horizontal" method="post" action="" role="form">#}
{#        {% csrf_token %}#}
{#        <div class="form-group">#}
{#            <div class="col-lg-4 col-md-4 col-sm-4">#}
{#                <input type ="text" name="username" class="form-control" placeholder="Username" required autofocus/>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="form-group">#}
{#            <div class="col-lg-4 col-md-4 col-sm-4">#}
{#                <input type ="password" name="password" class="form-control" placeholder="Password" required/>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <button class="btn btn-lg btn-success" type="submit">Sign in</button>#}
{#    </form>#}
{% endblock content %}