{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Login {% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'users/css/styles.css' %}">
{% endblock css %}

{% block content %}
    {% for error in errors %}
        <p>{{error}}</p>
    {% endfor %}

    <h2>Login</h2>
    <form class="form-horizontal" method="post" action="" role="form">
        {% csrf_token %}
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8">
                <input type ="text" name="username" class="form-control" placeholder="Username" required autofocus/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8">
                <input type ="password" name="password" class="form-control" placeholder="Password" required/>
            </div>
        </div>

        <button class="btn btn-lg btn-success" type="submit">Sign in</button>
    </form>
{% endblock content %}