{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Location{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    url: "https://cdn.datatables.net/plug-ins/1.10.12/i18n/Spanish.json"
                },
                "order": [[ 2, "desc" ]]
            });
        });
    </script>
{% endblock javascript %}

{% block content %}

<form id="searchform" action="/location/get_geoposition/" method="get" accept-charset="utf-8">
    <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
    </button>
    <input class="searchfield" id="searchbox" name="url" type="text" placeholder="Insert tweet URL">
</form>
    <br>
    <h3> {{ msg }} </h3>

{% endblock content %}
